.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100vw;
  height: 50px;
  padding: 10px 40px;
  background-color: rgb(219, 76, 63);
  color: white;
}

.header-left {
  display: flex;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 5px;
}

.user-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: none;
  border-radius: 50%;
  background-image: url("https://ssl.pstatic.net/static/pwe/address/nodata_33x33.gif");
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1, 1);
}

.user-icon:hover {
  transform: scale(1.2, 1.2);
}

.naverLogout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  padding: 2px;
  margin-left: 20px;
  background-color: #db4c3f;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 400;
  color: white;
}

.naverLogout:hover {
  background-color: #ad4036;
}
