.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100vw;
  height: 50px;
  padding: 10px 40px;
  background-color: rgb(219, 76, 63);
  color: white;
}

.header-left {
  display: flex;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 5px;
}

.user-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: none;
  border-radius: 50%;
  background-image: url("https://ssl.pstatic.net/static/pwe/address/nodata_33x33.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1, 1);
}

.user-icon:hover {
  transform: scale(1.2, 1.2);
}
