.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-modal {
  position: fixed;
  top: 28%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 26px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
}

.list-modal .form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-modal-top {
  display: flex;
  background-color: #fafafa;
  padding: 25px;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.list-modal-mid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 25px;
  gap: 10px;
}

.list-input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 6px;
}

.list-modal-down {
  display: flex;
  justify-content: end;
  gap: 15px;
  padding: 15px;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cancel-btn {
  width: 80px;
  height: 30px;
  font-weight: 600;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cancel-btn:hover {
  border: 2px solid #ccc;
}

.submit-btn {
  width: 70px;
  height: 30px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  background-color: rgb(219, 76, 63);
}

.submit-btn:hover {
  border: 2px solid grey;
}
