.sidebar {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 20vw;
  padding: 40px;
  background-color: rgb(240, 240, 240);
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.add-list {
  width: 30px;
  height: 30px;
  background-color: unset;
}

.add-list:hover {
  background: rgb(200, 200, 200);
  border-radius: 5px;
}

.add-list-btn {
  width: 15px;
  height: 15px;
}

.list-container {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  width: 100%;
  height: 100%;
}

.lists {
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
}

.list-li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-icon {
  color: rgb(100, 100, 100);
  width: 24px;
  height: 24px;
}

.list-btn-div {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.div-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.div-btn:hover {
  background-color: red;
}

.list-edit-btn {
  opacity: 0.6;
  width: 15px;
  height: 15px;
}

.list-edit-div:hover .list-edit-btn {
  opacity: 1;
}
