.todo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  width: 60vw;
  background-color: unset;
  border-bottom: 1px solid #efefef;
}

.todo-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 18px;
  font-size: 1rem;
}

.todo-btns {
  display: flex;
}

.todo-checkbox-container {
  display: flex;
  align-items: center;
}

.todo-priority {
  color: rgb(219, 76, 63);
}

.todo-priority.checked {
  color: grey;
  text-decoration: line-through;
}

.todo-text {
  color: black;
}

.todo-text.checked {
  color: grey;
  text-decoration: line-through;
}

.todo-checkbox {
  width: 15px;
  height: 15px;
  margin: 10px;
}

.todo-description {
  width: 100%;
  text-align: left;
  padding-left: 35px;
}

.todo-description.checked {
  color: grey;
  text-decoration: line-through;
}

.todo-due-date {
  width: 100%;
  text-align: left;
  padding-left: 30px;
}

.todo-due-date.outdated {
  color: rgb(219, 76, 63);
}

.todo-due-date.checked {
  color: grey;
  text-decoration: line-through;
}

.todo-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: unset;
}

.todo-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: unset;
}

.todo-edit:hover {
  background-color: rgb(230, 230, 230);
}

.todo-delete:hover {
  background-color: rgb(230, 230, 230);
}
